<header class="header">
  <div class="header__group">
    <div class="header__sidebar-button">
      <button class="header__button" mat-icon-button (click)="toggleSidenav()" matTooltip="Show filters" color="accent">
        <mat-icon class="header__icon">menu</mat-icon>
      </button>
    </div>
    <div class="header__add-todo">
      <a mat-fab matTooltip="Add new todo" class="header__link" (click)="openDialog()"
        ><mat-icon class="header__link-icon">library_add</mat-icon></a
      >
    </div>
  </div>
  <div class="header__search">
    <app-search></app-search>
  </div>

  <div class="header__profile">
    <div class="header__avatar">
      <img src="assets/images/avatar.png" class="header__image" alt="avocado-rock" />
    </div>
    <div class="header__username">{{ username }}</div>
  </div>
</header>
