@import 'setup/variables';

.sidenav {
  top: $header-height;

  &__content {
    background: url(/assets/backgrounds/pattern.jpg);
  }
}

.main {
  display: flex;
  flex-flow: row nowrap;
  min-height: 100vh;
  padding: 3%;

  &__list {
    margin: auto;
  }
}

