@import 'setup/variables';

.modify {
    &__input {
        border: none;
        outline: none;
        padding: 0.7em 0.25em;
        font-size: 1.3em;
        width: auto;
        margin-right: 1em;

        &:focus {
            border: 1px solid $gray;
            border-radius: 0.8em;   
        }
    }
}