@import 'setup/variables';

.modify {
  padding-bottom: 50%;
  background: url(/assets/images/avocat.png) no-repeat bottom right;
  background-size: 50% auto;

  &__heading {
    font-family: $ff-header;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 1em;
  }
}

.form {
  &__field {
    margin-right: 1em;
  }
}
