<form [formGroup]="addTodoForm" autocomplete="off" (submit)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-label>Add Todo</mat-label>
    <input matInput placeholder="Save the world..." formControlName="title" />
  </mat-form-field>
  <mat-form-field color="accent">
    <mat-label>Deadline</mat-label>
    <input matInput formControlName="deadline" [matDatepickerFilter]="filterDate" [matDatepicker]="deadline">
    <mat-datepicker-toggle matSuffix [for]="deadline"></mat-datepicker-toggle>
    <mat-datepicker #deadline></mat-datepicker>
  </mat-form-field>
  <button class="button" mat-raised-button color="primary" type="submit" [disabled]="!addTodoForm.valid">Add todo</button>
</form>
