<main class="home">
  <div class="home__container">
    <div class="home__header">
      <h1 class="home__title">Avoca To-Do</h1>
      <p class="home__subtitle">Write your username below.</p>
    </div>
    <form class="home__form" (submit)="onSubmit($event)">
      <input type="text" class="home__input" maxlength="30" [(ngModel)]="username" placeholder="Avocadio..." name="username" autofocus required />
      <button  class="home__button button" mat-raised-button color="primary" type="submit">Continue</button>
    </form>
  </div>
</main>
